#cards-section {
  background-image: linear-gradient(135deg, $primary-color 0%, $secondary-color 100%);
  color: $white-color;
  height: 100%;
  border-top: 0px;
  padding-top: 10rem;

  &-top {
    @extend #cards-section;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
  }

  &-bottom {
    @extend #cards-section;
    -webkit-clip-path: polygon(0 20%, 100% 0, 100% 100%, 0 100%);
    clip-path: polygon(0 20%, 100% 0, 100% 100%, 0 100%);

    .section-title {
      padding-top: 15rem;
    }
  }

  .card-group {
    display: flex;
    position: relative;
    justify-content: space-between;
    padding-bottom: 10rem;

    @include respond(tab-port) {
      flex-direction: column;
    }

    @include respond(phone) {
      padding-bottom: 0rem;
    }
  }

  .card {
    display: flex;
    background: none;
    border: none;
    position: relative;
    margin: 5rem 0rem;
    text-align: left;
    align-content: space-between;

    @include respond(tab-port) {
      text-align: center;
      flex-direction: column;
      width: 100%;
    }
  }

  .cards-image-wrapper {
    height: 155px;
  }

  .card-image {
    width: 150px;
    border: 0;
    max-width: 100%;
    display: inline-block;

    &-bottom {
      width: 100px;
      border: 0;
      max-width: 100%;
      display: inline-block;
    }
  }

  .card-title {
    font-size: $mid-font-size;
    line-height: 3rem;
    font-weight: bold;
    margin: 2.5rem 0rem;
    padding-right: 8rem;
    height: 120px;

    @include respond(tab-port) {
      padding-right: 0;
    }

    &-bottom {
      @extend .card-title;
      height: 60px;
    }
  }

  .card-text {
    padding: 0rem;
    height: 280px;
    padding-right: 6rem;
    line-height: 1.75em;
    font-size: 16px;

    &-bottom {
      @extend .card-text;
      height: 200px;
    }

    @include respond(tab-port) {
      height: auto;
      font-size: $small-font-size;
      padding: 0 10rem 5rem;
    }

    @include respond(phone) {
      padding: 0 0 5rem 0;
    }
  }

  .card-footer {
    border-top: none;
    background: transparent;
    padding: 0;

    @include respond(tab-land) {
      padding-top: 2rem;
    }
  }

  @include respond(tab-port) {
    height: 100%;
    -webkit-clip-path: none;
    clip-path: none;
    padding: 10rem 0rem;

    .card-group {
      flex-wrap: wrap;
    }

    .section-title {
      margin: 0;
      padding: 0;
    }
  }

  @include respond(tab-port) {
    font-size: $small-font-size;
  }
}
