.contact-hero-holder {
  display: flex;
  justify-content: space-evenly;
  text-align: left;
  padding-bottom: 5rem;

  .contact-info {
    margin-bottom: 5rem;
    padding-right: 10rem;
    padding-top: 25%;
    background-image: linear-gradient(135deg, $primary-color, $secondary-color);
    font-size: $mid-font-size;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    @include respond(tab-port) {
      flex-direction: column;
      font-size: $mid-font-size;
      padding: 0;
      text-align: center;
    }

    @include respond(phone) {
      font-size: 16px;
      padding-right: 2rem;
      padding-left: 2rem;
    }

    a {
      font-size: 80%;
    }
  }

  @include respond(tab-port) {
    flex-direction: column;
    text-align: center;
    font-size: $mid-font-size;
    padding-top: 0;
    padding-right: 10rem;
    padding-left: 10rem;
  }

  @include respond(phone) {
    padding: 0;
  }
}

#form-section {
  form {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border-radius: 1rem;
    padding-right: 20rem;
    padding-left: 20rem;

    @include respond(tab-port) {
      padding: 0;
    }
  }

  p {
    width: 100%;

    label {
      width: 100%;

      .name-input,
      .email-input,
      .message-input {
        outline: none;
        display: flex;
        padding: 1rem;
        width: 100%;
        border-radius: 1rem;
        border: 2px solid #e0eafc;
      }
      ::placeholder {
        color: lightgray;
        opacity: 1;
      }

      input:focus,
      textarea:focus {
        border-color: $primary-color;
      }
    }
  }
}
