#consulting {
  display: flex;
  justify-content: space-evenly;
  padding: 0;
  height: 90vh;
  line-height: 4em;
  background-image: linear-gradient(#e0eafc, #cfdef3);

  @include respond(tab-port) {
    flex-direction: column;
    height: auto;
    justify-content: space-evenly;
    line-height: 3em;
  }

  h1 {
    font-size: $big-font-size;

    @include respond(tab-port) {
      font-size: $mid-font-size;
      padding: 5rem 0;
    }
  }
  p {
    font-size: $mid-font-size;
    @include respond(tab-port) {
      font-size: $default-font-size;
    }
    a {
      color: yellow;
      font-size: 100%;
    }
  }

  .consulting-banner {
    display: flex;
    justify-content: center;
    flex-basis: 50%;
    background-image: linear-gradient(135deg, $primary-color 0%, $secondary-color 100%);
    clip-path: circle(99.8% at 0 50%);
    -webkit-clip-path: circle(99.5% at 0 50%);

    @include respond(tab-port) {
      clip-path: circle(120% at 50% 0);
      -webkit-clip-path: circle(120% at 50% 0);
      height: auto;
    }
  }

  .consulting-text-box {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    color: $white-color;
    padding-right: 30%;
    padding-left: 10%;

    @include respond(tab-port) {
      padding: 1rem;
      height: 100%;
    }

    .btn-holder {
      a {
        font-size: 3rem;
        border-width: 0.5rem;
      }
      @include respond(tab-port) {
        padding: 5rem 0;
        a {
          font-size: 2rem;
          border-width: 0.5rem;
        }
      }
    }
  }

  .partner-holder {
    flex-basis: 50%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    @include respond(tab-port) {
      padding-top: 25%;
      padding-bottom: 25%;
    }
  }

  .consulting-partner-link {
    width: 50%;
  }
}

// #consulting {
//   background-color: #e9e9e9;
//   display: flex;
//   justify-content: space-between;
//   padding: 0;

//   .circle {
//     -webkit-clip-path: circle(100% at left);
//     clip-path: circle(100% at left);
//     background-color: $secondary-color;
//     background-image: linear-gradient(135deg, $primary-color 0%, $secondary-color 100%);
//   }

//   .container {
//     padding: 0;
//     margin: 0;

//     // @include respond(big-desktop) {
//     display: flex;
//     height: 100%;
//     // }

//     @include respond(tab-port) {
//       flex-direction: column;
//       height: auto;
//     }
//   }

//   .consulting-banner {
//     color: $white-color;

//     // @include respond(big-desktop) {
//     display: flex;
//     text-align: left;
//     height: 80vh;
//     // flex-basis: 50%;

//     h1 {
//       font-size: $big-font-size;
//     }
//     p {
//       font-size: $mid-font-size;
//       padding-right: 10rem;
//     }
//     // }

//     @include respond(tab-port) {
//       height: 50vh;
//       -webkit-clip-path: circle(75% at top);
//       clip-path: circle(75% at top);
//       text-align: center;
//     }

//     @include respond(phone) {
//       height: 80vh;
//       -webkit-clip-path: circle(100% at top);
//       clip-path: circle(100% at top);
//     }

//     @include respond(phone-xs) {
//       line-height: 3rem;
//       height: 120vh;
//     }

//     .consulting-text-box {
//       p > a {
//         color: yellow;
//         font-size: 100%;
//       }

//       //   @include respond(big-desktop) {
//       display: flex;
//       flex-direction: column;
//       justify-content: space-evenly;
//       height: 100%;
//       padding-left: 5rem;
//       //   }

//       @include respond(tab-port) {
//         height: 100%;
//         overflow: hidden;
//         padding-top: 2rem;
//         padding-right: 3rem;
//         padding-left: 3rem;
//         justify-content: flex-start;

//         p,
//         h1 {
//           padding-bottom: 2rem;
//         }
//       }

//       @include respond(phone-xs) {
//         text-align: center;
//         line-height: 3rem;
//         height: 120vh;
//         padding: 2rem;
//       }
//     }
//   }

//   .partner-holder {
//     // @include respond(big-desktop) {
//     flex-basis: 50%;
//     // }

//     .consulting-partner-link {
//       .partner-logo {
//         border-radius: 2rem;
//       }

//       //   @include respond(big-desktop) {
//       width: 400px;
//       margin: auto;

//       //   }

//       @include respond(tab-port) {
//         width: 50vw;
//         margin: auto;
//         padding-top: 0;
//       }

//       @include respond(phone) {
//         width: 100vw;
//         padding-bottom: 50%;
//       }
//     }
//   }
