#speaking {
  padding: 0;

  .container-fluid {
    padding: 0;
  }

  .hero-wrapper {
    color: white;
    // display: flex;
    // justify-content: flex-start;
  }

  .hero-content {
    color: 'white';
    display: 'flex';
    flex-direction: 'column';
    text-align: center;
    background-image: linear-gradient(30deg, #000, rgba(0, 0, 0, 0.06) 50%, transparent);
    width: 40%;
    padding: 10rem;
    padding-top: 20rem;

    @include respond(tab-port) {
      text-align: center;
      width: 100%;
      height: auto;
    }

    @include respond(phone) {
      padding: 5rem 2rem 0 2rem;
    }
  }

  h1 {
    line-height: 5rem;

    @include respond(big-desktop) {
      line-height: 200%;
    }

    @include respond(phone-xs) {
      font-size: 3rem;
    }
  }

  p {
    padding-bottom: 2rem;
    font-size: $small-font-size;

    @include respond(big-desktop) {
      font-size: $mid-font-size;
      line-height: 200%;
    }

    @include respond(phone-xs) {
      font-size: 2rem;
    }
  }

  .btn-holder {
    padding-bottom: 3rem;
    padding-left: 1rem;
    padding-top: 4rem;

    @include respond(phone) {
      padding-bottom: 5rem;
    }
  }
}
