#footer {
  background-color: rgba(0, 0, 0, 0.05);
}

.footer-links {
  display: flex;
  justify-content: space-between;
  background: transparent;
  padding: 0;
  color: black;

  @include respond(phone) {
    flex-direction: column;
  }
}

.footer-link {
  color: black;

  &:hover {
    color: $secondary-color;
    font-size: 125%;
  }
}

.footer-brand {
  padding: 15px;
  margin: 0;
  float: left;
}
