.navbar {
  background-color: #e0eafc;
  -webkit-background-color: #e0eafc;
  position: sticky;
  margin: 0;
  padding-left: 1rem; 
  padding-right: 1rem;

  @include respond(phone) {
    justify-content: center;
    padding-left: 0; 
    padding-right: 0;
  }
}

.navbar-border {
  padding-bottom: 1rem;
  -webkit-background-color: white;
  background-color: white;
}

.navbar-brand {
  font-size: $small-font-size;
}

.nav-item {
  padding: 1rem;
}

.navbar-nav > li > a {
  @include respond(tab-port) {
    font-size: 1.2rem;
  }
}

#responsive-navbar-nav {
  justify-content: flex-end;
}

#nav {
  @include respond(tab-port) {
    float: none;
  }
}
