// Section
section {
  padding: 5rem 0rem;

  @include respond(phone) {
    border: none;
    padding-left: 1rem;
    padding-right: 1rem;
  }
}

.container {
  display: block;
  width: 100%;
  max-width: 980px;
  margin-right: auto;
  margin-left: auto;
}
